*{
    background-color: black;
}
header{
    color: red;
    font-size: large;
}
p{
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20%;
    padding: 20px;
}